<%= form_for(@sheet) do |f| %>
  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% @sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :date %> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp 
    <%= f.label :client_name %> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
    <%= f.label :activity_name %> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
     <%= f.label :omschrijving %><br>
    <br>

    <%= f.text_field :date, class: "sheet_date"%>
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
    
    <%= f.text_field :client_name, data: {autocomplete_source: Client.order(:name).map(&:name)} %>
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
    
    <%= f.text_field :activity_name, data: {autocomplete_source: Activity.order(:name).map(&:name)} %>
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  

     <%= f.text_area :omschrijving, :maxlength => 80 , style: "width: 300px; height: 25px"  %>
<hr>
  </div>


  <div class="field">
   
   <%= f.label :uur %> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp 
    <%= f.label :minuten %>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
  
     <%= f.label :antal %>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  
    <%= f.label :opmerking_intern %><br>

    <%= f.text_field :uur %>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
  
    <%= f.text_field :minuten %>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
 
   
    <%= f.text_field :antal %>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
 
 
  
    <%= f.text_area :opmerking_intern , style: "width: 300px; height: 25px" %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
